<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link rel="stylesheet" href="styleL.css">
</head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2>Student Log in</h2>
                    <form action="#" th:action="@{/login}" method="post">
                        <pre>
                        User Name:<input type="text" name="email"/>
                        Password:<input type="password" name="password"/>
                        <input type="submit" value="login"/>
                         <a href="showReg">Register</a>
                         
                        </pre>
                        </form>
                </div>
                <div class="form-image">
                    <img src="login (1).png" alt="">
                 </div>
            </div>
            
        </div>
    </div>
</body>
</html>