<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="stylep.css">
</head>
<body>
        <div class="profile-details">
            <div class="block1">
                <div class="b1">
                    <img src="profile.png" alt="">
                    <h2 th:text="${#authentication != null ? #authentication.name : 'Anonymous'}">Ravish</h2>
                    <h4>year</h4>
                </div>
            </div>
            <div class="block2">
                <h2>Information</h2>
                <h1>____________________</h1>
                <div class="info">
                    <h4>Email</h4>
                    <h4>phone No</h4>
                </div>    
                <div class="actual-info" >
                    <input name="email" id="email" th:text="${email}">
                    <input type="text" name="Number" id="Number">
                </div>
                <div class="certi-title">
                    <h2>Certificates</h2>
                <h1>____________________</h1>
                </div>
                <table id="customers">
                    <tr>
                      <th>Name of event</th>
                      <th>Date</th>
                      <th>Certificate</th>
                    </tr>
                    <tr>
                      <td>Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                    </tr>
                    <tr>
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                      <td>Mexico</td>
                    </tr>
                  </table>
                <div class="btn">
                    <button type="button">ADD Details</button>
                </div>
                
            </div>
        </div>
</body>
</html>